include ../common/variables.pug
doctype html
html(lang='ru-RU')
	head
		include ../common/gtm.pug
		include ../partials/head.pug
	body
		include ../common/gtm2.pug
		include ../common/preloader.pug
		include ../partials/header.pug
		include ../partials/sections.pug
		include ../partials/footer.pug
		include ../partials/modals.pug
		include ../common/scripts.pug

