
meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')

title= title

// SEO
meta(property="og:title", content=title)
meta(property="og:description" content=description)
meta(property="og:image" content="")
meta(property="og:url" content="")
meta(property="fb:admins" content="")
meta(property="fb:app_id" content="")
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=cyrillic", rel="stylesheet")
// FAVICON
link(rel="icon" type="image/png" href="img/fav/favicon-32x32.png" sizes="32x32")
link(rel="icon" type="image/png" href="img/fav/favicon-16x16.png" sizes="16x16")
<!-- build:css css/libs.min.css -->
link(rel="preload" href="css/libs.css" as="style" onload="this.rel='stylesheet'")
noscript.
	<link rel="stylesheet" href="css/libs.css>
<!-- endbuild -->
link(rel="stylesheet", href="css/animate.min.css")
link(rel='stylesheet', href='css/main.css')
link(rel='stylesheet', href='css/media.css')
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
script(src="js/cssrelpreload.js" ) 